<footer id="footer" class="bg-gray-900 text-white p-3 [&>div]:py-3">
  <div>
    <h4 class="ml-2 text-xl font-bold">Disclamer</h4>
    <p>Ce site et l'entreprise Kakeibo en général est une entité fictive crée dans le but de réaliser un projet d'étude en développement, plus d'information dans la page 'Légal' ci dessous</p>
  </div>
  <hr>
  <div>
    <h4 class="ml-2 text-xl font-bold">News letter</h4>
    <p>Pour recevoir les nouveauté de Kakeibo, n'hésitez pas a vous abonner a la newsletter</p>
    <app-redirect class="block p-3 ml-auto font-bold no-underline bg-blue-600 w-fit" name="newsletter">Je m'abonne</app-redirect>
  </div>
  <hr>
  <div>
    <ul class="p-1">
      <li><app-redirect name="account">Connection/Création de compte</app-redirect></li>
      <li><app-redirect name="cookies">Cookies</app-redirect></li>
      <li><app-redirect name="legal">Légal</app-redirect></li>
      <li><app-redirect name="map">Carte du site</app-redirect></li>
    </ul>
  </div>
</footer>
