   <span style="display:block; padding-top:8em;">Span</span>
   <div class="modal-budgetline">
      <p>Modal bugetLine</p>

      <form action="" name="modal" [formGroup]="modalForm">
         <app-input *ngFor="let item of formModal" [placeholder]="item.placeholder" [formControlName]="item.name" [type]="item.type"></app-input>
         <app-dropdown>outcome/income</app-dropdown>
         <app-dropdown>categories</app-dropdown>
         <app-dropdown>subCategories</app-dropdown>
         <app-button placeholder="Add" type="submit" [disabled]="modalForm.invalid"></app-button>
      </form>
   </div>

   <br>

   <button type="submit">Ajouter la dépense</button> 
                                                                                                                                                                                                                                                                       