<div>
    <p>ajouter une dépense</p>

    <form [formGroup]="formGroup">
       <!-- <ul>
          <app-input placeholder="Choissisez catégorie"></app-input>
       </ul>
       <ul>
          <app-input placeholder="Choissisez une sous catégorie"></app-input>
       </ul>
       <ul>
          <app-input placeholder="Ajouter la dépense"></app-input>
       </ul>
       <ul>
          <app-input placeholder="brève description"></app-input>
       </ul> -->
       <DropdownComponent></DropdownComponent>
</div>

      <br>
      <button type="submit">Ajouter la dépense</button> 
    </form>                                                                                                                                                                                                                                                                     