.modal-budgetline {
  border: 2px solid red;
}

.title {
  display: block;
  justify-content: center;
  text-align: center;
  padding-top: 8em;
  margin-bottom: 1rem;
}

.buttonSubmit {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}
