@import "/src/theme/variables.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 100vw;
  
}

.modal-budgetline {
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 16px; 
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
   

}


.title {
  display: block;
  justify-content: center;
  text-align: center;
  padding-top: 8em;
  margin-bottom: 1rem;
}

.buttonSubmit {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}

