<div class="input" [class.required]="required" [ngClass]="type" [class.disabled]="disabled" >
  <input [(ngModel)]="input" ngDefaultControl *ngIf="!['checkbox','dropdown'].includes(type)" [disabled]="disabled" [ngClass]="errors===undefined?'':errors===null?'valid':'invalid'" [placeholder]="placeholder" [type]="elementType"  name="" [id]="'input'+id">
  <label [for]="'input'+id" class="placeholder" [class.checkbox]="type==='checkbox'" *ngIf="placeholder">
    {{placeholder}}
    <div *ngIf="type==='checkbox'" class="toggler">
      <input type="checkbox" [(ngModel)]="input" [id]="'input'+id">
      <span class="button"></span>
    </div>
  </label>
  <select *ngIf="type==='dropdown'" [(ngModel)]="input" name="" [id]="'input'+id">
    <option *ngFor="let item of dropdownValue(value)" [value]="item[1].value" [selected]="item[1].selected??false" [disabled]="item[1].disabled??false">{{item[0]}}</option>
  </select>
  <span *ngIf="type=='password'" class="passwordVisibility">
      <input type="checkbox" [value]="passwordVisibility" [(ngModel)]="passwordVisibility" [id]="'checkbox'+id">
      <label [for]="'checkbox'+id"></label>
  </span>
</div>