
<div class="wrap-container2">
    <div class="image2">
        <p>Image</p>
    </div>
    <div class="title2">
        <p class="title">Auchan</p>
        <p class="date">11/09/2024</p>
    </div>
    <div class="category-sub">
        <p>Alimentation</p>
        <p>Courses</p>
    </div>
    <div class="description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, ipsam adipisci. Tempora, officia recusandae eius libero, accusamus quae quam consequatur esse aspernatur obcaecati sequi provident modi pariatur earum nemo facere?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, ipsam adipisci. Tempora, officia recusandae eius libero, accusamus quae quam consequatur esse aspernatur obcaecati sequi provident modi pariatur earum nemo facere?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente eveniet quia hic, voluptates facere quidem maiores laudantium explicabo totam reiciendis.</p>
    </div>
    <div class="value2">
        <p>50.00€</p>
    </div>
</div>