
<div class="wrap-container2">
    <div *ngFor="let line of budgetLines">
        <div class="image2">
            <p>{{line.userId}}</p>
        </div>
        <div class="title2">
            <p class="title">{{line.title}}</p>
            <p class="date">{{line.date}}</p>
        </div>
        <div class="category-sub">
            <p>{{line.category}}</p>
            <p>{{line.subCategory}}</p>
        </div>
        <div class="description">
            <p>{{line.description}}</p>
        </div>
        <div class="value2">
            <p>{{line.value}}</p>
        </div>
    </div>
   
</div>

<h3>Dépenses</h3>
<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Montant</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let line of budgetLines">
      <td>{{ line.description }}</td>
      <td>{{ line.category }}</td>
    </tr>
  </tbody>
</table>