@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

ion-content { --ion-background-color: transparent; }

@font-face {
  font-family: VujahdayScript;
  src: url("../assets/fonts/VujahdayScript-Regular.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}
