$highlight-opacity: 0.3;
$highlight-color: hsla(163, 91%, 25%, $highlight-opacity);

ion-content { --ion-background-color: #172A3A; min-height: 100vh;}

.trapezoid {
	border-top: 0.5em solid $highlight-color;
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	height: 0;
	width: 100%;
  left: -25%;
  display: block;
  position: absolute;
}

.odd {
  align-self: flex-end;
  text-align: end;

  .trapezoid {
    left: unset;
    right: -25%;
  }
}
