<ion-content class="" [fullscreen]="true">
  <header
    class="fixed z-[974] flex justify-between w-screen p-5 bg-opacity-50 bg-gradient-to-b from-gray-700"
  >
    <img src="assets/images/KAB.svg" alt="" />
    <app-mobile-menu-toggle class="w-14 h-14"></app-mobile-menu-toggle>
  </header>
  <app-navbar class="z-[973] relative"></app-navbar>
  <section name="hero" class="h-screen">
    <div class="relative flex justify-end w-screen p-4 pt-32 pb-24">
      <svg
        class="absolute top-0 right-0 w-screen h-auto max-h-[26rem] min-h-96 min-w-[500px] overflow-visible hero-bg -z-10"
        preserveAspectRatio="none"
        width="393"
        height="483"
        viewBox="0 0 393 483"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M0 0H393V483L0 326.338V0Z" fill="#FBFBFC" />
      </svg>

      <img class="max-h-52" src="assets/images/hero_piggy.svg" alt="" />
    </div>
    <div class="flex flex-col justify-evenly font-mina h-[40vh]">
      <div class="flex flex-col text-white text-3xl px-14 pt-[vw] break-keep">
        <p>Apprenez a mieux</p>
        <p>gérer <app-highlight>votre argent</app-highlight></p>
      </div>
      <div class="flex justify-end w-full mt-20">
        <p class="w-full max-w-5xl pl-20 pr-5 text-right text-white text-l">
          Découvrez le Kakeibo, une méthode japonaise d'économie domestique.
          "Kakeibo" se traduit par <app-highlight>"livre de compte ménager"</app-highlight> et simplifie la
          gestion financière du foyer. Nous simplifions davantage cette méthode
          pour une gestion financière efficace à la maison.
        </p>
      </div>
    </div>
    <svg class="absolute w-4 -translate-x-1/2 left-1/2 bottom-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="w-6 h-6">
      <path fill="#fff" strokeLinecap="round" strokeLinejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
    </svg>
  </section>
  <section class="*:w-2/3 *:relative *:p-3 h-[66vh] text-xl font-mina flex flex-col justify-evenly text-white">
    <div class="">
      <span>Prenez le contrôle sur vos dépenses</span>
      <i class="trapezoid"></i>
    </div>
    <div class="odd">
      <span>Gardez un suivis de vos dépenses et regroupez par catégories</span>
      <i class="trapezoid"></i>
    </div>
    <div class="">
      <span>Partagez vos dépenses entres amis</span>
      <i class="trapezoid"></i>
    </div>
    <div class="odd">
      <span>Gardez un suivis de vos dépenses et regroupez par catégories</span>
      <i class="trapezoid"></i>
    </div>
  </section>
  <section>
    <img class="w-screen" src="assets/images/image 11.svg" alt="">
  </section>
  <section class="flex flex-col justify-center p-16 pb-8">
    <app-highlight class="text-center text-2xl">Pret a économiser ?</app-highlight>
    <app-getapp></app-getapp>
  </section>
  <section class="text-white text-xl text-center *:mb-5">
    <div>
      <img class="w-screen" src="assets/images/pexels-andrea-piacquadio-926390.svg" alt="">
      <p class="mt-6 mb-10">
        <span>Gérez votre</span>
        <app-highlight class="ml-2">budget personnel</app-highlight>
      </p>
    </div>
    <div>
      <img class="w-screen" src="assets/images/pexels-helena-lopes-933964.svg" alt="">
      <p class="mt-6 mb-10">
        <span>Gérez le budget de</span>
        <app-highlight class="ml-2">vos sorties</app-highlight>
      </p>
    </div>
    <div>
      <img class="w-screen" src="assets/images/pexels-photo-1008155.svg" alt="">
      <p class="mt-6 mb-10">
        <span>Gérez le budget de</span>
        <app-highlight class="ml-2">vos vacances</app-highlight>
      </p>
    </div>
  </section>
  <section>
    <img class="w-screen" src="assets/images/avis.svg" alt="">
  </section>
</ion-content>
