label.checkbox{
    display: flex;
    width: auto;
    justify-content: space-between;
    padding: 1em;
    margin: 2em;

    .toggler {
        background-color: gray;
        border-radius: 0.7em;
        display: block;
        height: 1.2em;
        width: 2em;
        position: relative;
    
        input[type="checkbox"] {
            display: none;
        }
        span.button {
            height: 1em;
            aspect-ratio: 1;
            background-color: white;
            left: 5%;
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 100%;
            transition: left 0.2s;
        }
    
        :checked + span {
            left: .9em;
        }
    }
}